/**
	put the css for your project here
*/

/**
	example
*/

.container {
    background-color: rgba(180, 180, 180, 0.5);
    border: thin solid black;
    bottom: 10px;
    color: #333333;
    font-family: sans-serif;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    padding: 20px;
    position: fixed;
    top: 10px;
}
.block{
	float: left;
	margin: 0 20px 0 0;
}
.category h2{
    margin: 0;
    padding: 20px 0 0;
 }
.category{
	clear: both;
}
input[type=number]{
	width: 50px;
}
input.center {
	left:50%;
}
